APP_NAME=Laravel
APP_ENV=local
APP_KEY=base64:wxM9GVmkc+SQ/J0csnxet/WBAKJnINrs3UmktJ+LfhQ=
APP_DEBUG=true
APP_URL=http://localhost
VITE_APP_NAME="${APP_NAME}"

DB_DATABASE=laravel
DB_USERNAME=root
DB_PASSWORD=laravel
REDIS_PASSWORD=laravel
