LARAVEL_DOMAIN=domain.com
PMA_DOMAIN=pma.domain.com

APP_NAME=Laravel
APP_ENV=local
APP_KEY=base64:wxM9GVmkc+SQ/J0csnxet/WBAKJnINrs3UmktJ+LfhQ=
APP_DEBUG=true
APP_URL=http://localhost
VITE_APP_NAME="${APP_NAME}"

DB_DATABASE=laravel
DB_USERNAME=laravel
DB_PASSWORD=laravel
DB_ROOT_PASSWORD=laravel
REDIS_PASSWORD=laravel
MEILISEARCH_KEY=laravel

# php artisan webpush:vapid
VAPID_PUBLIC_KEY=
VAPID_PRIVATE_KEY=
